body {
    background: orchid;
    margin: 0;
    
}
   
     h1 { Color: white;
        font-style: italic;
        text-align: center;
        font-size: 60px;
    
    }

     ul {
         color: whitesmoke;
         font-size: 38px;

     }

     li {color: black;
        font-size: 26px;
        font-style: oblique;
        
    }

    h3 {text-align: center;
        font-size: 24px;
    }
    
    img {
        display: block;
        margin: auto;
        align-content: center;
        max-width: 25%;
    }